.announcement {
  width: 100vw;
  background-color: #252f3d;
  color: white;
}

.announcement-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-inline: 127px;
  /* overflow: hidden; */
}

.announcement-items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-items span {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

@media (max-width: 768px) {

  .announcement-container {
    margin-inline: 20px;
    display: inline-flexbox;
    justify-content: center;
    position: relative;
    padding: 20px;
  }

  .announcement-items {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .announcement-items.active {
    width: 100%;
    opacity: 1;
    transform: translateX(0);
  }
}
